{#
  Title: Testimonials
  Description: Customer testimonial
  Category: 3s
  Icon: admin-comments
  Keywords: testimonial quote "customer testimonial"
  Mode: edit
#}

<blockquote data-{{ block.id }}>
  {{ fields.testimonials_heading }}
  {{ fields.testimonials_subheading }}
  {{ fields.testimonials_image.src }}

  {% for item in fields.testimonials %}
    <p>Testimonial Name: {{ item.name }}</p>
    <p>Testimonial Copy: {{ item.copy }}</p>
  {% endfor %}


    <cite>
      <span>{{ fields.author }}</span>
    </cite>
</blockquote>
<hr>

<style type="text/css">
  [data-{{ block.id }}] {
    background: {{ fields.background_color }};
    color: {{ fields.text_color }};
  }
</style>