{#
  Title: Testimonials
  Description: Customer testimonial
  Category: 3s
  Icon: admin-comments
  Keywords: testimonial quote "customer testimonial"
  Mode: edit
#}

<section class="testimonial-block">
  <div class="content-wrapper">
    <div class="testimonials-heading">
      <h2>{{ fields.testimonials_heading }}</h2>
      <p>{{ fields.testimonials_subheading }}</p>
    </div>
    <div class="testimonials-main">
      <div class="testimonials-quotes">
        {% for item in fields.testimonials %}
          <div class="testimonials-quote">
            <div class="testimonial-name">{{ item.name }}</div>
            <div class="testimonial-copy">{{ item.copy }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="testimonials-img">
        <img src="{{ fields.testimonials_image.url }}" alt="{{ fields.testimonials_image.alt }}" loading="lazy">
      <div>
    </div>
  </div>
</section>